/* COLORS */
$color-blue: #1f5f97;


/* DEVICE WIDTH */
$mobile-width: 659px;
$tablet-width: 660px;
$tablet-max-width: 959px;
$desktop-width: 960px;

/* RETINA */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
