.page-header {
  margin-bottom: 54px;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  margin-bottom: 26px;
}

.page-header__top-secret {
  margin-right: -59px;
}

.page-header__profile {
  display: block;
  margin-right: 298px;
  margin-left: auto;
}
